
<!doctype html>
<html class="no-js" lang="en" ng-app='giveBytesApp' ng-cloak>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="assets/css/app.css">
  </head>
  <body>

    <div class="grid-container">
    
      <!-- Test Controller -->
      <div class="grid-x grid-margin-x callout" ng-controller="testController">
        
        <div class="cell small-6">
          <h3>Init Module</h3>
        </div>
    
        <div class="cell small-6">
            <button type="button" class="success button" ng-click="callAPI()">Test API Call</button>    
        </div>
    
      </div>
    
      <!-- Auth Conroller-->
      <div class="grid-x grid-margin-x callout" ng-controller="authController">
    
        <div class="cell small-3">
            <h3>Auth Module</h3>
        </div>
    
        <div class="cell small-3">
            <h3>{-loginStatus-}</h3>
        </div>
    
        <div class="cell small-6">
    
            <button g-login type="button" class="button alert" ng-hide="isLoggedIn">Login With Google</button>
            <button ng-click="doLogin()" type="button" class="button" ng-hide="isLoggedIn">Login With Facebook</button>
            <button type="button" class="button success" ng-hide="isLoggedIn" ng-click="login()">Login With Email &amp; Password</button>
            <button type="button" class="button" ng-hide="!isLoggedIn" ng-click="logout()">Logout</button>
    
            <form ng-hide="!standardLogin">
              
              <label ng-hide="!isRegistration">
                Full Name
                <input type="text" placeholder="John Smith" ng-model="fullname">
              </label>
              <label>
                  Email
                  <input type="text" placeholder="test@test.com" ng-model="email">
              </label>
              <label>
                  Password <input type="password" ng-model="password1">
              </label>
              <label ng-hide="!isRegistration">
                  Confirm Password <input type="password" ng-model="password2">
              </label>
              
              <button type="button" class="button" ng-click="doLogin()" ng-hide="isRegistration">Sign In</button>
              <button type="button" class="button" ng-click="doRegister()" ng-hide="!isRegistration">Sign Up</button>
              <button type="button" class="button" ng-click="isRegistration = !isRegistration" ng-hide="isRegistration">Not registered?</button>
              <button type="button" class="button" ng-click="isRegistration = !isRegistration" ng-hide="!isRegistration">Already registered?</button>
        
            </form>
        
        </div>
      
      </div>
      
    </div>

    <script src="assets/js/app.js"></script>
  </body>
</html>